<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin - 3K대학교 Administrator</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS-->
  <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../../public/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../public/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/adminhome">3K대학교 Administrator</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin/adminhome">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">대시보드</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/admin/products/productslist">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">접수목록</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/studentregedit">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">학생등록</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
            <a class="nav-link" href="/admin/adminstudentlist">
              <i class="fa fa-fw fa-area-chart"></i>
              <span class="nav-link-text">학생목록</span>
            </a>
          </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">대시보드</a>
        </li>
      </ol>
      <!-- Icon Cards-->
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Area Chart Example</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

        <!-- Example DataTables Card-->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i>증명서 접수목록</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr align="center">
                      <th width="10%" style="vertical-align: middle;">카테고리</th>
                      <th width="15%" style="vertical-align: middle;">상품명</th>
                      <th width="20%" style="vertical-align: middle;">상품이미지</th>
                      <th width="10%" style="vertical-align: middle;">상품가격</th>
                      <th width="10%" style="vertical-align: middle;">작성일</th>
                      <th width="7%" style="vertical-align: middle;">삭제</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr align="center">
                      <th>카테고리</th>
                      <th>상품명</th>
                      <th>상품이미지</th>
                      <th>상품가격</th>
                      <th>작성일</th>
                      <th>삭제</th>
                  </tr>
              </tfoot>
                  <tbody>
                  <% products.forEach(function(products){ %>
                  <tr align="center">
                      <td style="vertical-align: middle; font-size: 0.7em;">
                          <%= products.category %>
                      </td>
                      <td style="vertical-align: middle; font-size: 0.7em;">
                          <a href="/admin/products/productsdetail/<%= products.id %>"><%= products.productname %></a>
                      </td>
                      <td width="200" style="vertical-align: middle;">
                              <img width="150" height="100" src="../../../uploads/<%=products.thumbnail%>">
                      </td>
                      <td style="vertical-align: middle; font-size: 0.7em;"><%-products.price %></td>
                      <td style="vertical-align: middle; font-size: 0.7em;">
                          <%= products.getDate.year %>년 <%= products.getDate.month %>월 <%= products.getDate.day %>일
                      </td>
                      <td style="vertical-align: middle; font-size: 0.7em;">
                          <a href="/admin/products/delete/<%= products.id %>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
                      </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> 결제수 및 일자 Bar Chart</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9 my-auto">
                  <div id="columnChart" width="100" height="50"></div>
                  <!--
                    <canvas id="myBarChart" width="100" height="50"></canvas>
                    <div id="columnChart"></div>
                    <div id="pieChart"></div>
                  -->
                </div>
                <div class="col-sm-3 text-center my-auto">
                  <div class="h4 mb-0 text-primary"><%=cnt%></div>
                  <div class="small text-muted">금일 결제 건 수</div>
                  <hr>
                  <div class="h4 mb-0 text-warning">$18,474</div>
                  <div class="small text-muted">YTD Expenses</div>
                  <hr>
                  <div class="h4 mb-0 text-success">$16,219</div>
                  <div class="small text-muted">YTD Margin</div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> 결제 및 배송 Pie Chart </div>
              <!--
                <i class="fa fa-pie-chart"></i> Pie Chart Example</div>
                <div id="columnChart"></div>
                <div id="pieChart"></div>
              -->
            <div class="card-body">
              <div id="pieChart"></div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>
      
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/admin/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../public/vendor/chart.js/Chart.min.js"></script>
    <script src="../public/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../public/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../public/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../public/js/sb-admin-datatables.min.js"></script>
    <script src="../public/js/sb-admin-charts.min.js"></script>
  </div>



        <!-- 구글 통계차트 모듈로드 -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        <script>
                //차트 로딩 시작
                google.charts.load("current", {packages:["corechart"]});
                //막대기 차트를 그린다. 인자로 함수를 지정
                google.charts.setOnLoadCallback(drawbar);
                
                function drawbar() {

                  var data = google.visualization.arrayToDataTable([

                      //첫줄은 [ x축, y축, 상단에 나올숫자 의미 ]
                      ['날짜', '결제자수', { role: 'annotation' } ],

                      
                      //그다음부터 데이터
                      <% 
                        for( key in barData ){
                        
                          if(typeof barData[key] === 'number'){
                      %>
                              ["<%=key%>", <%=barData[key]%> , "(<%=cnt%>)건"],
                              // ["Day_<%=key%>", <%=barData[key]%> , "(<%=barData[key]%>)"],
                      <%
                              }
                          }
                      %>
                      //그다음부터 데이터
                      // ["08-10", 10 , "(10)"],
                      // ["08-11", 20 , "(20)"],
                      // ["08-12", 30 , "(30)"],
                  ]);
                  
                  // 데이터가 저장되는 컬럼값을 지정해주면 자동으로 그 컬럼에 맞게 정렬해준다.
                  data.sort([{column: 0}]);          

                  //차트 상단에 나올 제목, 차트 전체에 세로 길이 등을 지정
                  var options = {
                      title: '천원 / 결제자수',
                      height: 400,
                      chartArea: {width: '60%'}
                  };

                  var chart = new google.visualization.ColumnChart(
                      document.getElementById('columnChart')
                  );
                  
                  chart.draw(data, options);
                }


                // 파이 차트(원형 도넛)를 그린다.
                google.charts.setOnLoadCallback(drawpie);
                function drawpie() {
                
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    
                    <% for( key in pieData ){
                        if(typeof pieData[key] === 'number'){
                    %>
                        ['<%=key%>',  <%=pieData[key]%>],
                    <%
                        }
                        }
                    %>
                ]);
                // var data = google.visualization.arrayToDataTable([
                //     ['Task', 'Hours per Day'],
                //     ['결재자',  50],
                //     ['미결재자',  10]
                // ]);

                var options = {
                  title: '상품 상태',
                  height: 300,
                  width: 400
                };

                var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
                chart.draw(data, options);
                }
        </script>


</body>

</html>
