<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin - 3KBICAS대학교 Administrator</title>
  <!-- Bootstrap core CSS-->
  <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../../public/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../public/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/adminhome">3KBICAS대학교 Administrator</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin/adminhome">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">대시보드</span>
          </a>
        </li>
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/products/productsregist" width="10px" height="10px">
            <i class="fa fa-fw fa-eyedropper"></i>
            <span class="nav-link-text">상품등록</span>
          </a>
        </li> -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/admin/products/studentslist">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">접수목록</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/admin/products/orderlist">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">승인목록</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/products/productschart">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">통계차트</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">대시보드</a>
        </li>
        <li class="breadcrumb-item active">상품리스트</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> 등록 상품 테이블</div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="panel panel-default">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">상품명 : &nbsp; <%=product.productname%></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">상품등록일자 : &nbsp; 
                <%=product.getDate.year%>년 
                <%=product.getDate.month%>월 
                <%=product.getDate.day%>일
              </span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
            <% if(product.thumbnail){%>
              <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-support"></i>
                  </div>
                  <div class="mr-5">
                    <p align="center">
                        <img src="/uploads/<%=product.thumbnail%>" style="max-width: 100%"/>
                    </p>
                  </div>
                </div>
              </div>
            <% } %>

            
            <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5" align="center"><h1>제품 상세설명</h1></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-center"><%-product.description%></span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>

            <!-- 댓글영역  -->
            <hr/>
                    <div id="sibal"></div>
                    <div id="comment_area">

                        <% comments.forEach(function(comment){ %> 
                            <div>
                                <!-- 댓글 -->
                                <div id="commentreple"> 
                                    <%= comment.content %> 
                                    ( <a class='comment_delete' comment_id='<%= comment.id %>'>댓글삭제</a> )
                                </div>
                            </div>    
                        <% }); %>
                        </div>
                    <div>
        <!-- 댓글영역  -->
        <div>
            <br/>
            Comments
            <form id="commentForm" action="" method="post">
                <input type="hidden" name="product_id" value="<%=product.id%>" />
                <textarea class="form-control" name="content"></textarea>
                <button class="btn btn-primary" style="margin-top: 10px">댓글작성</button>
            </form>
        </div>
        <!-- 댓글영역  -->
        </div>
    </div>
 
    <a href="/admin/products/productslist" class="btn btn-default">목록으로</a>
    <a href="/admin/products/adminproductedit/<%=product.id%>" class="btn btn-primary">수정</a>

    
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../../../public/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../../../public/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../../public/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../../../public/js/sb-admin-datatables.min.js"></script>

      <script>
        (function(){
            // 댓글 작성
                $(document).ready(function() {
                    $('#commentForm').submit(function(){ // commentForm 전송함수
                        var $contentVal = $(this).children('textarea[name=content]').val(); // 폼 데이터를 contentVal로 받는다.
                        // alert($contentVal);
                        // 댓글이 있을 경우
                        if($contentVal){

                            $.ajax({
                                // 라우트에 있는 객체를 url과 매핑해서 실행
                                url : '/admin/products/ajax_comment/insert',
                                type : 'POST',
                                data : $(this).serialize(), // 키필드에 맞게 세팅
                            }).done(function(args){

                                console.log(args.message);
                                // 댓글 작성하면 화면에 보이게 하기, admin.js에서 success 전달받은 후
                                if(args.message === "success"){
                                    $('#comment_area').append(
                                        '<div>' + args.content + "( <a class='comment_delete' comment_id='" + args.id + "'>삭제</a> ) </div>"
                                    );
                                    $('#commentForm textarea[name=content]').val("");
                                }
                            }).fail(function(args){
                                
                                console.log(args);
                            });
                        }else{
                            alert('댓글을 입력해주세요');
                        }
                        return false;
                    });

            // 리플 작성
                    $('#repleForm2').submit(function(){ // repleForm2 전송함수
                        var $repleVal = $(this).children('textarea[name=reple2]').val(); // 폼 데이터를 repleVal 받는다.
                        // alert($repleVal);
                        // 댓글이 있을 경우
                        if($repleVal){

                            $.ajax({
                                // 라우트에 있는 객체를 url과 매핑해서 실행
                                url : '/admin/products/ajax_comment/repleinsert',
                                type : 'POST',
                                data : $(this).serialize(), // 키필드에 맞게 세팅
                            }).done(function(args){

                                console.log(args.message);
                                // 댓글 작성하면 화면에 보이게 하기, admin.js에서 success 전달받은 후
                                if(args.message === "success"){
                                    $('#sibal').append(
                                        '<div>' + args.content + "( <a class='reple_delete' reple_id='" + args.id + "'>삭제</a> ) </div>"
                                    );
                                    $('#repleForm2 textarea[name=reple2]').val("");
                                }
                            }).fail(function(args){
                                
                                console.log(args);
                            });
                        }else{
                            alert('리플을 입력해주세요');
                        }
                        return false;
                    });

            // 이 부분 설명 다시 필요함.
            $(document).on('click' , '.comment_delete' , function(){
                if(confirm('삭제하시겠습니까?')){ //확인창 예 눌렀을 시만 진행
                    // 삭제할 때 댓글의 div까지 삭제해야 하기 때문에 클릭한 시점
                    // parent().remove() 부모를 삭제한다.
                    // self는 ajax의 url을 호출한다.
                    var $self = $(this);
                    $.ajax(
                        {
                            url: '/admin/products/ajax_comment/delete',
                            type: 'POST',
                            data: { 
                                    comment_id : $self.attr('comment_id') 
                                },
                        }
                    )
                    .done(function() {
                        $self.parent().remove();
                        alert("삭제가 완료되었습니다.");
                    })
                    .fail(function(args) {
                        console.log(args);
                    });
                }
            });

            // 리플 삭제
            $(document).on('click' , '.reple_delete' , function(){
                if(confirm('삭제하시겠습니까?')){ //확인창 예 눌렀을 시만 진행
                    // 삭제할 때 댓글의 div까지 삭제해야 하기 때문에 클릭한 시점
                    // parent().remove() 부모를 삭제한다.
                    // self는 ajax의 url을 호출한다.
                    var $self = $(this);
                    $.ajax(
                        {
                            url: '/admin/products/ajax_comment/repledelete',
                            type: 'POST',
                            data: { 
                                    reple_id : $self.attr('reple_id') 
                                },
                        }
                    )
                    .done(function() {
                        $self.parent().remove();
                        alert("삭제가 완료되었습니다.");
                    })
                    .fail(function(args) {
                        console.log(args);
                    });
                }
            });
          });
        })();
    </script>

  </div>
</body>

</html>