<% include ../header.ejs %>

        <div>
            <div>
                <div>
              </ol>
              <!-- Example DataTables Card-->
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-table"></i>증명서 접수목록</div>
                <div class="card-body">
        
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr align="center">
                            <th width="7%" style="vertical-align: middle;">번호</th>
                            <th width="15%" style="vertical-align: middle;">사용자ID</th>
                            <th width="20%" style="vertical-align: middle;">이름</th>
                            <th width="15%" style="vertical-align: middle;">승인여부</th>
                            <th width="15%" style="vertical-align: middle;">신청시간</th>
                            <th width="10%" style="vertical-align: middle;">승인</th>
                            <!-- <th width="7%" style="vertical-align: middle;">삭제</th> -->
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                        <tbody>
                          <% requestdetail.forEach(function(requestdetail){ %>
                        <tr align="center">
                            <td style="vertical-align: middle; font-size: 0.7em;">
                                <%= requestdetail.seq %>
                            <td style="vertical-align: middle; font-size: 0.7em;">
                                <%= requestdetail.user_id %>
                            </td>
                            <td style="vertical-align: middle; font-size: 0.7em;">
                                </a><%= requestdetail.name %></a>
                            </td>
                            <td style="vertical-align: middle; font-size: 0.7em;"><%=requestdetail.accept_yn %></td>
                            <td style="vertical-align: middle; font-size: 0.7em;">
                              <%=requestdetail.getDate.year%>.
                              <%=requestdetail.getDate.month%>.
                              <%=requestdetail.getDate.day %>.
                              <%=requestdetail.getDate.hour%>:
                              <%=requestdetail.getDate.minute%>:
                              <%=requestdetail.getDate.second%></td>
                              
                            <% if (requestdetail.accept_yn=='N'){ %>
                                <td style="vertical-align: middle; font-size: 0.7em;"><input type="button" value="승인"  onclick="accept_(<%=requestdetail.seq%>, '<%=requestdetail.file_name%>')" />  </td>
                            <%}else{%>
                                <td style="vertical-align: middle; font-size: 0.7em;"></td>
                            <%}%>
                        </tr> 
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
            </div>
   
          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
          </a>   
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-primary" href="/admin/logout">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
    
           <!-- Bootstrap core JavaScript-->
    <script src="../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../../public/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../../public/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../public/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../../public/js/sb-admin-datatables.min.js"></script> 
    
</div>
</body>
   
    
        

<style type="text/css">
.masonry-grid img { max-width: 260px; }
</style>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function(){
      $masonry_container.masonry({
        itemSelector : '.masonry-grid',
        columnWidth : 270
      });
    });
</script>

  <!-- 사용자 정보 받아오기 user_id, blockChainid, blockChainpw -->
  <input type="hidden" id='user_id' value="<%=user.user_id%>"></input>
  <input type="hidden" id='name' value="<%= user.user_name %>"></input>
  <input type="hidden" id='blockchainpwd' value="<%= user.blockchainpwd %>"></input>
  <input type="hidden" id='blockchainid' value="<%= user.blockchainid %>"></input>
  
  <!-- 사용자 정보 받아오기 user_id, blockChainid, blockChainpw -->

<% include ../SC_import.ejs %>
<% include ../footer.ejs %>