<% include ../header.ejs %>

<% include ./sidebar.ejs %>
    
    
    
    <br/>   
    

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">거래정보</a>
              </li>
              <li class="breadcrumb-item active">거래내역</li>
            </ol>
        <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i>거래 내역</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr align="center">
                        <th width="10%" style="vertical-align: middle;">Hash</th>
                        <th width="1%" style="vertical-align: middle;">From</th>
                        <th width="1%" style="vertical-align: middle;">To</th>
                        <th width="1%" style="vertical-align: middle;">Gas</th>
                        <th width="1%" style="vertical-align: middle;">GasPrice</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr align="center">
                        <th>Hash</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Gas</th>
                        <th>GasPrice</th>
                    </tr>
                </tfoot>
                    <tbody>
                    
                    <tr align="center">
                        <td style="vertical-align: middle; font-size: 0.7em;"><%= transact.t_hash.replace(/\"/gi, ""); %></td>
                        <td style="vertical-align: middle; font-size: 0.7em;"><%= transact.from %></td>
                        <td style="vertical-align: middle; font-size: 0.7em;"><%= transact.to %></td>
                        <td style="vertical-align: middle; font-size: 0.7em;"><%= transact.gas %></td>
                        <td style="vertical-align: middle; font-size: 0.7em;"><%= transact.gasPrice.replace(/\"/gi, ""); %></td>                        
                    </tr>
                    
                </tbody>
            </table>
          </div>
        </div>
      </div>

      

